body {
  background-color: #F4F4F4;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.MobileSlider {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &--dragging {
    user-select: none;
  }

  &-value {
    position: absolute;
    top: 80px;
    left: calc(50% - 50px);
    width:100px;
    text-align: center;
    color: #1980D0;
    font-size: 18px;
    font-weight: bold;
  }

  &-valueNote {
    font-weight: normal;
    font-size: 14px;
  }

  &-minValueLabel {
    position: absolute;
    z-index: -1;
    color: #6E6E6E;
    font-size: 12px;
    right: calc(50% + 90px);
    top: 162px;
  }

  &-maxValueLabel {
    position: absolute;
    z-index: -1;
    color: #6E6E6E;
    font-size: 12px;
    left: calc(50% + 90px);
    top: 162px;
  }

  .CircularSlider {
    -webkit-overflow-scrolling: touch;
    touch-action: none;
  }

  .CircularSlider-track {
    stroke-width: 13px;
    stroke: #cecece;
    stroke-linecap: round;
    fill: none;
  }

  .CircularSlider-fill {
    stroke: #1980D0;
    stroke-width: 13px;

    stroke-linecap: round;
    fill: none;
  }

  .CircularSlider-handle {
    stroke: #fff;
    stroke-width: 5px;
    fill: #1980D0;
    touch-action: pan-x pan-y;
  }
}